.cards-table {
    flex-wrap: wrap;
}

.end-buttons-off {
    display: none;
    text-align: center;
}

.end-buttons-on {
    display: block;
    text-align: center;
}

.card-clicked {
    opacity: 0.5;
}

